*{
  margin:0;
  padding:0;
}

body{
  background-color:rgb(107, 129, 239);
}



.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:100vh;
}  

.heading{
  color:rgb(255, 255, 255);
  font-size: 40px;
  margin: 40px;
}

.inputSearchButton{
  width:50%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.3rem;
}

.inputSearchButton button{
  width: 150px;
  font-size: 1rem;
  color:white;
  background-color: rgb(51, 51, 238);
  border-radius: 10px;
  margin: 0.3rem;
  border:none;
  padding:3px;
}

.inputSearchButton button:hover{
  background-color: rgb(31, 31, 228);
  box-shadow: 1px 1px 2px black;
}

.inputSearchButton button.selected{
  background-color: rgb(31, 31, 228);
  box-shadow: 1px 1px 2px black;
}


.mainSection{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  height:70vh;
  
}

.tasksStats{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height:65vh;
  border:4px solid rgb(60, 217, 160);
  overflow-y:auto;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5vh;
}

.tasksStats h2{
  margin:15px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(60, 217, 160);
  width:88%;
  text-align: center;
  font-size: 2.1rem;
  border-radius: 10px;
  padding:3px;
  position:sticky;
  top: 15px;
  z-index:1;
  box-shadow: 10px 10px 10px black;
}

.tasksStats .CUD h3{
  color:rgb(0, 0, 0);
  font-size: 32px;
  padding:0 5px;
}

.tasksSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height:65vh;
  border:4px solid rgb(249, 110, 110);
  overflow-y:auto;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5vh;
}

.tasksSection h2{
  margin:15px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(249, 110, 110);
  width:88%;
  text-align: center;
  font-size: 2.1rem;
  border-radius: 10px;
  padding:3px;
  position:sticky;
  top: 15px;
  z-index:1;
  box-shadow: 10px 10px 10px black;
}

.completeSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height:65vh;
  border:4px solid rgb(79, 238, 73);
  overflow-y:auto;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5vh;
}

.completeSection h2{
  margin:15px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(79, 238, 73);
  width:88%;
  text-align: center;
  font-size: 2.1rem;
  border-radius: 10px;
  padding:3px;
  position:sticky;
  top: 15px;
  z-index:1;
  box-shadow: 10px 10px 10px black;
}


.deletedSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height:65vh;
  border:4px solid rgb(61, 61, 61);
  overflow-y:auto;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5vh;
}

.deletedSection h2{
  margin:15px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(61, 61, 61);
  width:88%;
  text-align: center;
  font-size: 2.1rem;
  border-radius: 10px;
  padding:3px;
  position:sticky;
  top: 15px;
  z-index:1;
  box-shadow: 10px 10px 10px black;
}


.pendingSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height:65vh;
  border:4px solid rgb(253, 139, 223);
  overflow-y:auto;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5vh;
}

.pendingSection h2{
  margin:15px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(253, 139, 223);
  width:88%;
  text-align: center;
  font-size: 2.1rem;
  border-radius: 10px;
  padding:3px;
  position:sticky;
  top: 15px;
  z-index:1;
  box-shadow: 10px 10px 10px black;
}

.cardTasks{
  height:50px;
  width:88%;
  background-color: rgb(252, 144, 144);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px 10px 10px;
  box-sizing: border-box;
  margin:10px;
  position:relative;
  border-radius:10px;
}

.cardDeleted{
  height:50px;
  width:88%;
  background-color: rgb(82, 82, 82);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px 10px 10px;
  box-sizing: border-box;
  margin:10px;
  position:relative;
  border-radius:10px;
}


.cardStats{
  height:50px;
  width:88%;
  background-color: rgb(133, 236, 198);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px 10px 10px;
  box-sizing: border-box;
  margin:10px;
  position:relative;
  border-radius:10px;
}

.cardPending{
  height:50px;
  width:88%;
  background-color: rgb(241, 179, 253);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px 10px 10px;
  box-sizing: border-box;
  margin:10px;
  position:relative;
  border-radius:10px;
}

.cardCompleted{
  height:50px;
  width:88%;
  background-color: rgb(158, 251, 118);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 5px 10px 10px;
  box-sizing: border-box;
  margin:10px;
  position:relative;
  border-radius:10px;
}

.taskHeading{
  width:75%;
  height: 90%;
  overflow-y:auto;
}

.taskHeading::-webkit-scrollbar{
  display:none;
}


.CUD{
  width:60px;
}


.CUD button{
  width: 15px;
  height: 15px;
  margin:5px;
  border-radius:10px;
  border:none;
}

.updateInput input{
  width:75%;
  height: 90%;
  background-color: rgb(246, 122, 122);
  font-size:1.17rem;
  border:none;
}